# Smartfin Ride API
The Smartfin Ride API makes it quick and easy to obtain smartfin ride data using a Django REST API. 

All ride queries go through the ride endpoint, so all urls should be in the format:
"[domain name]/ride/"

In [1]:
# jasmines ride ids
# 14743 - Motion Control July 10th
# 14750 - Magnetometer Control July 11th
# 14814 - Pool Displacement Control July 17th
# 14815 - Compass Orientation (Lying on Charger Side) July 19th
# 14816 - Orientation w Higher Sampling (Lying on Charger Side) July 20th
# 14827 - Pool Displacement Control w Higher Sampling (Jul 23)
# 14888 - First Buoy Calibration Experiment (July 30)
# 15218 - Jasmine's Second Ride Sesh filmed with GoPro (Aug 29) //no footage
# 15629 - Jasmine's First Ride Sesh filmed with VIRB (Oct. 24) //first labelled footage!
# 15669 - Jasmine's Second Ride Sesh filmed with VIRB (Nov. 7) //second labelled footage!
# 15692 - Jasmine's 3rd Ride Sesh filmed with VIRB (Nov. 9) //third labelled footage!
# 15686 - Jasmine's 4th Ride Sesh filmed with VIRB (Nov. 11) //fourth labelled footage!

In [2]:
base_url_example = f'http://127.0.0.1:8000/ride/'

In [3]:
rideId = '30000'
field = 'heightSmartfin'
fieldGetSingleExample = f'http://127.0.0.1:8000/ride/field-get/{rideId}/{field}/'

## EXAMPLES OF EACH FUNCTION

In [4]:
# imports
import requests
import pandas as pd
from io import BytesIO

## URLs

'List all ride ids': '/ride-list/',

'List all the ride fields': '/ride-fields/'

'Get single ride': '/ride-get/<str:rideId>/',

'Get random set of rides': '/many/ride-get/<int:count>/',

'Filter rides by location': '/location/ride-get/<str:location>/',

'Filter rides by date': '/date/ride-get/<str:startDate>/<str:endDate>/',

'Get single ride attribute': 'field-get/<str:rideId>/<str:fields>/',

'Get attributes of random set of rides': 'random/field-get/<int:count>/<str:fields>/',

'Get attributes of rides filtered by location': 'location/field-get/<str:location>/<str:fields>/', 

'Get attributes of rides filtered by date': 'date/field-get/<str:startDate>/<str:endDate>/<str:fields>/',

'Update heights of all rides in database': 'update-heights/',
'Get list of active CDIP buoys': 'buoy-list/'

In [5]:
testing = True # determines what url we are requesting from

## api info queries

#### get all the ride ids in the database

In [6]:
if testing: 
    apiOverview = f'http://127.0.0.1:8000/ride'
else:
    apiOverview = f'https://lit-sands-95859.herokuapp.com/ride'

In [7]:
response = requests.get(apiOverview).json()
response

{'List api endpoints': '/',
 'List ride fields': '/fields',
 'Get all rides in db': '/rides',
 'Get field of all rides in db': '/rides/fields=<str:fields>',
 'Get single ride': '/rides/rideId=<str:rideId>',
 'Filter rides by location': '/rides/location=<str:location>',
 'Filter rides by date': '/rides/startDate=<str:startDate>,endDate=<str:endDate>',
 'Get single ride attribute': 'rides/rideId=<str:rideId>/fields=<str:fields>',
 'Get attributes of rides filtered by location': 'rides/location=<str:location>/fields=<str:fields>',
 'Get attributes of rides filtered by date': 'rides/startDate=<str:startDate>,endDate=<str:endDate>/fields=<str:fields>',
 'Update heights of all rides in database': 'update-heights',
 'Get list of active CDIP buoys': 'buoys'}

#### get list of ride data fields

In [8]:
if testing:
    rideFields = f'http://127.0.0.1:8000/ride/fields'
else:
    rideFields = f'https://lit-sands-95859.herokuapp.com/ride/fields'

In [9]:
response = requests.get(rideFields).json()
response

{'id of smartfin session': 'rideId',
 'location (city, county, state) of session': 'loc1, loc2, loc3',
 'start time of session': 'startTime',
 'end time of session': 'endTime',
 'significant wave height calculated by smartfin': 'heightSmartfin',
 'significant wave height reported by nearest CDIP buoy': 'heightCDIP',
 'calibrated ocean temperature read by smartfin': 'tempSmartfin',
 'ocean temperature reported by nearest CDIP buoy': 'tempCDIP',
 'nearest CDIP buoy to smartfin session': 'buoyCDIP',
 'latitude of smartfin session': 'latitude',
 'longitude of smartfin session': 'longitude'}

## get ride data

#### get all rides in db

In [10]:
if testing:
    rideList = f'http://127.0.0.1:8000/ride/rides'
else:
    rideList = f'https://lit-sands-95859.herokuapp.com/ride/rides'

response = requests.get(rideList).json()
response

[]

#### get fields of all rides in db

In [11]:
if testing:
    rideList = f'http://127.0.0.1:8000/ride/rides/fields=heightSmartfin,tempSmartfin'
else:
    rideList = f'https://lit-sands-95859.herokuapp.com/ride/rides/fields=heightSmartfin,tempSmartfin'

response = requests.get(rideList).json()
response

{'data': []}

### get single ride by id

In [88]:
rideId = '15692'
testing=True
if testing:
    rideGetSingle = f'http://127.0.0.1:8000/ride/rides/rideId={rideId}' # creates new ride and upload all ride data to db
else:
    rideGetSingle = f'https://lit-sands-95859.herokuapp.com/ride/rides/rideId={rideId}' # creates new ride and upload all ride data to db

response = requests.get(rideGetSingle).json()
response

{'rideId': '15692',
 'loc1': 'La Jolla',
 'loc2': 'San Diego',
 'loc3': 'San Diego County',
 'startTime': 1541791072,
 'endTime': 1541794669,
 'heightSmartfin': 24.284978127420892,
 'tempSmartfin': 20.044069023569023,
 'buoyCDIP': '201',
 'heightCDIP': 0.4414551854133606,
 'tempCDIP': 19.860002517700195,
 'latitude': 32.86058653508772,
 'longitude': -117.25365867324561}

### delete ride by id

In [87]:
rideId = '15692'
if testing:
    rideDelete = f'http://127.0.0.1:8000/ride/rides/rideId={rideId}'
else:
    rideDelete = f'https://lit-sands-95859.herokuapp.com/ride/rides/rideId={rideId}'

response = requests.delete(rideDelete)
response.content

b'{"success": "ride \'15692\' successfully deleted"}'

### get rides filtered by location

In [13]:
location = 'San Diego'

if testing:
    rideGetLocation = f'http://127.0.0.1:8000/ride/rides?location={location}' # creates new ride and upload all ride data to db
else:
    rideGetLocation = f'https://lit-sands-95859.herokuapp.com/ride/rides/location={location}' # creates new ride and upload all ride data to db

response = requests.get(rideGetLocation).json()
response

[{'rideId': '15692',
  'loc1': 'La Jolla',
  'loc2': 'San Diego',
  'loc3': 'San Diego County',
  'startTime': 1541791072,
  'endTime': 1541794669,
  'heightSmartfin': 0.07581454989219948,
  'tempSmartfin': 20.044069023569023,
  'buoyCDIP': '201',
  'heightCDIP': 0.4414551854133606,
  'tempCDIP': 19.860002517700195,
  'latitude': 32.86058653508772,
  'longitude': -117.25365867324561}]

### get multiple rides between start and end date

In [14]:
startDate = '1541030400'
endDate = '1552566400'

if testing:
    rideGetDate = f'http://127.0.0.1:8000/ride/rides/startDate={startDate},endDate={endDate}' # creates new ride and upload all ride data to db
else:
    rideGetDate = f'https://lit-sands-95859.herokuapp.com/ride/rides/startDate={startDate},endDate={endDate}'  # creates new ride and upload all r

response = requests.get(rideGetDate).json()
response

[{'rideId': '15692',
  'loc1': 'La Jolla',
  'loc2': 'San Diego',
  'loc3': 'San Diego County',
  'startTime': 1541791072,
  'endTime': 1541794669,
  'heightSmartfin': 0.07581454989219948,
  'tempSmartfin': 20.044069023569023,
  'buoyCDIP': '201',
  'heightCDIP': 0.4414551854133606,
  'tempCDIP': 19.860002517700195,
  'latitude': 32.86058653508772,
  'longitude': -117.25365867324561}]

## Get field(s) of ride(s)
gets a single attribute of a ride in the database. If count = 1, then we only retrieve the specified ride id, if count > 1, retrieve that amount of rides randomly

In [15]:
fields = 'heightSmartfin,heightCDIP'


if testing:
    fieldGetSingle = f'http://127.0.0.1:8000/ride/rides/rideId={rideId}/fields={fields}' # creates new ride and upload all ride data to db
else:
    fieldGetSingle = f'https://lit-sands-95859.herokuapp.com/ride/rides/rideId={rideId}/fields={fields}' # creates new ride and upload all ride data to db

response = requests.get(fieldGetSingle).json()
response

{'rideId': '15692',
 'heightSmartfin': 0.07581454989219948,
 'heightCDIP': 0.4414551854133606}

### get fields of rides by location

In [16]:
location = 'San Diego'

if testing:
    fieldGetLocation = f'http://127.0.0.1:8000/ride/rides/location={location}/fields={fields}' # creates new ride and upload all ride data to db
else:
    fieldGetLocation = f'https://lit-sands-95859.herokuapp.com/ride/rides/location={location}/fields={fields}' # creates new ride and upload all ride data to db

response = requests.get(fieldGetLocation)
response.json()['data']

[{'rideId': '15692',
  'heightSmartfin': 0.07581454989219948,
  'heightCDIP': 0.4414551854133606}]

### get fields of rides by date

In [17]:
startDate = '1541030400'
endDate = '1552566400'

if testing:
    fieldGetDate = f'http://127.0.0.1:8000/ride/rides/startDate={startDate},endDate={endDate}/fields={fields}' # creates new ride and upload all ride data to db
else:
    fieldGetDate = f'https://lit-sands-95859.herokuapp.com/ride/rides/startDate={startDate},endDate={endDate}/fields={fields}' # creates new ride and upload all ride data to db

    

response = requests.get(fieldGetDate).json()
response

{'data': [{'rideId': '15692',
   'heightSmartfin': 0.07581454989219948,
   'heightCDIP': 0.4414551854133606}]}

### list all active CDIP buoys

In [18]:
if testing:
    buoyList = 'http://127.0.0.1:8000/ride/buoys'
else:
    buoyList = 'https://lit-sands-95859.herokuapp.com/ride/buoys'

In [19]:
response = requests.get(buoyList)
data = response.json()
data

['028',
 '029',
 '036',
 '045',
 '067',
 '071',
 '076',
 '092',
 '094',
 '098',
 '100',
 '103',
 '106',
 '121',
 '132',
 '134',
 '139',
 '142',
 '143',
 '147',
 '150',
 '154',
 '155',
 '157',
 '158',
 '160',
 '162',
 '163',
 '166',
 '168',
 '179',
 '181',
 '185',
 '188',
 '189',
 '191',
 '192',
 '194',
 '196',
 '197',
 '198',
 '200',
 '201',
 '203',
 '204',
 '209',
 '213',
 '214',
 '215',
 '217',
 '220',
 '221',
 '222',
 '224',
 '225',
 '226',
 '233',
 '236',
 '238',
 '239',
 '240',
 '243',
 '244',
 '430',
 '433']

### get dataframes

In [89]:
rideId='15692'
dftype= 'motion'

if testing:
    getdf = f'http://127.0.0.1:8000/ride/rides/rideId={rideId}/dataframes/type={dftype},processData=true'
else:
    getdf = f'https://lit-sands-95859.herokuapp.com/ride/rides/rideId={rideId}/dataframes/type={dftype}'
    
response = requests.get(getdf)
response

In [90]:
mdf = pd.read_csv(BytesIO(response.content))
mdf

ParserError: Error tokenizing data. C error: Expected 1 fields in line 5, saw 3

In [85]:
mdf = mdf.set_index(['UTC'], drop = True, append = False)

mdf #= mdf.resample('1000ms').mean()

,Time,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3
UTC,,,,,,,,,,
2018-11-09 19:17:52.314000+00:00,1414850.738,-0.002568,-9.794177,0.042556,-84.0,17.0,18.0,-40.0,-164.0,198.0
2018-11-09 19:17:52.564000+00:00,1414850.987,0.010272,-9.828662,0.042189,-110.0,124.0,-25.0,-37.0,-177.0,167.0
2018-11-09 19:17:52.816000+00:00,1414851.237,-0.006603,-9.809952,0.034118,30.0,-1.0,-15.0,-44.0,-174.0,180.0
2018-11-09 19:17:53.070000+00:00,1414851.490,0.011006,-9.820224,0.055029,29.0,27.0,40.0,-29.0,-171.0,173.0
2018-11-09 19:17:53.321000+00:00,1414851.739,-0.007337,-9.804082,0.028615,242.0,85.0,50.0,-48.0,-164.0,200.0
...,...,...,...,...,...,...,...,...,...,...
2018-11-09 20:17:49.102000+00:00,1418425.843,0.046224,-10.322456,-0.020177,-84.0,22.0,57.0,-253.0,281.0,177.0
2018-11-09 20:17:49.304000+00:00,1418426.044,0.009538,-10.122150,-0.024947,99.0,61.0,27.0,-253.0,283.0,169.0
2018-11-09 20:17:49.506000+00:00,1418426.245,0.035219,-10.235144,-0.022012,106.0,64.0,14.0,-249.0,287.0,163.0
2018-11-09 20:17:49.708000+00:00,1418426.446,0.022745,-10.157369,-0.002568,-28.0,40.0,-26.0,-255.0,285.0,163.0
2018-11-09 20:17:49.901000+00:00,1418426.637,0.017242,-10.170943,0.002201,-36.0,34.0,-36.0,-258.0,274.0,166.0